/* this css for lawyer message */
.lawyer_message{
    /* background-color: pink !important; */
    width: 82%;
    margin-top: -41.89%;
    margin-left: 18%;
    height: 79.16vh;
   
}

.lawyer_message .msg_1{
    background-color: var(--fourth-primary) !important;
    border-radius: 0px, 37px, 37px, 37px;
    position: absolute;
    width: 68.2%;
    margin-left: -13.98%;
    height: 78.40vh;
}
.lawyer_message .msg_1 .text_msg1{
    background-color: var(--third-primary) !important;
    width: 90%;
    margin-left: 4.38%;
    position: relative;
    border-radius: 0px 25px 25px 25px;
    margin-top: 40px;
}

.lawyer_message .msg_1 .text_msg2{
    background-color: var(--third-primary) !important;
    position: relative;
    width: 90%;
    margin-left: 4.38%;
    border-radius: 0px 25px 25px 25px;
    margin-top: 40px;
}
.lawyer_message .user_pro{
    background-color: var(--fourth-primary) !important;
    width: 13.38%;
    position: absolute;
    height: 78.40vh;
    border-radius: 20px 0px 0px 20px;
}
.lawyer_message .usersl{
    position: relative;
    background-color: #4C525A;
}
.lawyer_message .um{
    margin-top: 40px;
}


/*this css lawyer_profile*/
.lawyer_profile{
    /* background-color: pink !important; */
    width: 82%;
    margin-top: -41.89%;
    margin-left: 18%;
    height: 79.16vh;
   
}

.lawyer_profile .msg_1{
    background-color: var(--fourth-primary) !important;
    border-radius: 0px, 37px, 37px, 37px;
    position: absolute;
    width: 71.16%;
    margin-left: -16.98%;
    height: 78.40vh;
}
.lawyer_profile .user_pro{
    background-color: var(--fourth-primary) !important;
    width: 10.38%;
    position: absolute;
    height: 78.40vh;
    border-radius: 20px 0px 0px 20px;
}

.lawyer_profile .usersl{
    position: relative;
    background-color: #4C525A;
}
.lawyer_profile .um{
    margin-top: 65px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 25%;
}


@media only screen and (max-width: 540px) {
    .lawyer_message{
        width: 82%;
        margin-top: -4.89%;
        margin-left: 18%;
       
       
    }
    .lawyer_message .msg_1{
       border-radius: 20px;
        width: 92.2%;
        margin-left: -13.98%;
        height: 75.40vh;
    }
    .lawyer_message .msg_1 .text_msg1{
        border-radius: 25px 25px 25px 25px;
    }
    
    .lawyer_message .msg_1 .text_msg2{
        height: 210px;
        border-radius: 25px 25px 25px 25px;
    }
    .lawyer_message .msg_1 .text_msg1 p{
        font-size: 14px;
        width: 118%;
        text-align: justify;
        margin-left: -30px;
    } 
    .lawyer_message .msg_1 .text_msg2 p{
        font-size: 14px;
        width: 118%;
        text-align: justify;
        margin-left: -30px;
    } 
    .lawyer_message .msg_1 .text_msg1 .pb{
        font-size: 14px !important;
        width: 118%;
        text-align: justify;
        margin-left: -30px;
    } 
    .lawyer_message .user_pro{
        width: 77.38%;
        margin-top: -180.69%;
        height: 78.90vh;
        border-radius: 20px 20px 20px 20px;
    }
    
  }
