.title{
    margin-top: 80px;
    margin-left: 15.5%;
    font-weight: 600;
    font-size: 20px;
}
.forms-bg{
  background-color: var(--secondary) !important;
  border-radius: 2px;
}
.inputs{
 background-color: var(--secondary) !important;
}
input[placeholder], [placeholder], *[placeholder] {
  color: var(--secondary) !important;
}
input::placeholder {
  color: var(--third-primary) !important;
}
textarea::placeholder {
  color: var(--third-primary) !important;
}
option:checked,
option:hover {
  background-color: var(--primary);
}
option:focus {
  background-color: var(--third-primary);
}

.form-sectionss{
  background-image: url("../images/forms.jpg") !important;
  background-size: cover;
  height: 960px;
  margin-top: -75px;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.466);
}

.selct{
  outline: 0 !important;
  border-width: 0 0 1px !important;
  border-color: var(--third-primary) !important;
  color: var(--third-primary) !important;
}
.selct:focus {
  border-color: var(--third-primary) !important;
  outline: 1px dotted var(--third-primary) !important;
}

.btn-law{
  width: 10%;
  height: 50px;
}
.btn-regi{
  width: 15%;
  height: 50px;
 margin-left: 38%;
}
.border-grays{
  border: 1px solid  var(--third-primary) !important;
}

 input[type="file"]::file-selector-button {
  background: linear-gradient(180deg, #A37707 0%, #D1B06B 100%) !important;
  border-radius: 4px 0px 0px 4px;
  border-color: #A37707;
}
.inpu{
  border-radius: 4px 0px 0px 4px;
  line-height: 34px;
  width: 89.99% !important;
  background-color: var(--second-secondary);
}



/* choose forpfile Picture button style  */
.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: var(--third-primary);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}


@media (max-width: 480px){
  .btn-law{
    margin-top: 14% !important;
    width: 30% !important;
   }
 .form-sectionss .inpu{
   width: 85% !important;
   line-height: 33px;
 }
 .forms-bg{
   width: 100% !important;
   padding: 0% !important;
   margin-top: 16px;
 }
 #form-bk{
   margin-top: -4px;
 }

 .btns-formssec{
   margin-left: 0% !important;
 }
 .btn-regi{
  width: 51% !important;
  margin-left: 22%;
 }
 .form-sectionss{
   height: 1170px !important;
   margin-top: 79px !important;
   height: auto !important;
   padding: 4%;
 }
 .login_page_image{
  width: 80%;
  margin: auto !important;
  margin-top: 5% !important;
 }
 .login_page_section{
  width: 95% !important;
 }
 .login_page_section .dont_account{
  margin-bottom: 25px !important;
  font-size: 0.8rem;
 }
 .sgn_form .do_have_ac{
  justify-content: start !important;
 }
}
@media only screen and (min-width: 481px) and (max-width: 767px){
  .btn-law{
    margin-top: 14% !important;
    width: 30% !important;
   }
 .form-sectionss .inpu{
   width: 91% !important;
   line-height: 33px;
 }
 .forms-bg{
   width: 100% !important;
   padding: 0% !important;
   margin-top: 16px;
 }
 #form-bk{
   margin-top: -4px;
 }
 .btns-formssec{
   margin-left: 0% !important;
 }
 .btn-regi{
   width: 40% !important;
   margin-left: 28%;
 }
 .form-sectionss{
   height: 1170px !important;
   margin-top: 79px !important;
   height: auto !important;
   padding: 4%;
 }
 .login_page_image{
  width: 65%;
  margin: auto !important;
  margin-top: 3% !important;
 }
 .login_page_section{
  width: 95% !important;
 }
 .login_page_section .dont_account{
  margin-bottom: 25px !important;
  font-size: 1rem;
 }


}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .btn-law{
    margin-top: 14% !important;
    width: 20% !important;
   }
  
  
 .form-sectionss .inpu{
   width: 85% !important;
   line-height: 31px;
 }
 .forms-bg{
   width: 100% !important;
   padding: 0% !important;
   margin-top: 16px;
 }
 #form-bk{
   margin-top: -4px;
 }
 
 .btns-formssec{
   margin-left: 0% !important;
 }
 .btn-regi{
   width: 40% !important;
   margin-left: 28%;
 }
 .form-sectionss{
   margin-top: 79px !important;
   height: auto !important;
   padding: 4%;
 }
  .login_page_image{
  width: 75%;
margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
 }
 .login_page_section{
  width: 80% !important;
  /* padding: 2% !important; */
 }
 .login_page_section .dont_account{
  margin-bottom: 30px !important;
  font-size: 1.1rem;
 }
 
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
  .inpu {
    width: 85.99% !important;
}
.form-sectionss{
  height: auto !important;
  padding: 6%;
}
.login_page_image{
  width: 90%;
margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
 }
 .login_page_section{
  width: 85% !important;
  padding: 3% !important;
 }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px){
  .inpu {
    width: 87.99% !important;
}
.form-sectionss{
  height: auto !important;
  padding: 6%;
}
.login_page_image{
  width: 90%;
margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
 }
 .login_page_section{
  width: 92% !important;
  padding: 4% !important;
 }
}
@media only screen and (min-width: 1441px) and (max-width: 1880px){
  .login_page_image{
    width: 85%;
  margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
   }
   .login_page_section{
    width: 85% !important;
    padding: 4% !important;
   }
   .login_page_section .dont_account{

    font-size: 1.1rem;
   }
}

