.t-1{
    color: var(--primary);
}
.t2{
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466) !important;
}
.main{
  background-image: url("../images/DIFM_LAW_bgcolor.jpg") !important;
  background-size: cover;
  height: 590px;
  margin-top: -5px;
  
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  height: 585px;
  z-index: 0;
 background: linear-gradient( 90deg , rgba(1,1,3,0.8155637254901961) 0%, rgba(9,9,17,0.7287289915966386) 52%, rgba(0,212,255,0) 100%);
}
h1{
   margin-top: 40px;

}
.her0s{
  z-index: 1;
 
}
.lawfind1{
  margin-top: 65px !important;
}
.row.no-pad {
    margin-right:0;
    margin-left:0;
  }
  .row.no-pad > [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }
  .s-1{
    height: 40px;
    border: 2px solid var(--primary) !important;
    border-radius: 0px 10px 10px 0px; 
  }
  .s-2{
    border: 2px solid var(--primary);
    border-radius:  0px 0px 0px 0px !important;
    outline: none;
  }
  .s-3{
    border: 2px solid var(--primary) !important;
    border-radius:  10px 0px 0px 10px;
    outline: none;
  }
  .fq-1{
    font-weight: 600;
    font-size: 66px;
  }
  .fq-2{
    font-weight: 600;
    font-size: 54px;
  }

  @media only screen and (min-width:280px) and (max-width:990px){
    
    .main {
      height: 312px !important;
    }
  }

  @media (max-width: 480px){
    .main{
      height: 550px !important;
  margin-top: 85px !important;
  background-position: center !important;
  background-size: cover !important;
      background-image: url("../images/DIFM_LAW_bgcolor3.jpg") !important;
    }
    h2{
      font-size: 36px !important;
    }
    .s-3{
      height: 40px !important;
    }
    .navbar .navbar-toggler[aria-expanded="true"] {
      color: var(--primary)!important;
      }
      .navbar .navbar-toggler:focus{
      color: var(--primary);
      }
      .viewbtn{
        font-size: 70.2% !important;
      }
      .lawyers_profile{
        margin-top: -4px;
      }
      .her0s{
        margin-top: -360px;
      }
      .main::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 675px;
        z-index: 0;
       background: linear-gradient( 170deg , rgba(1,1,3,0.8155637254901961) 0%, rgba(9,9,17,0.7287289915966386) 52%, rgba(0,212,255,0) 80%);
      }
  }
  @media only screen and (min-width: 541px) and (max-width: 587px){
    h2{
      font-size: 36px !important;
    }
    .s-3{
      height: 40px !important;
    }
    .navbar .navbar-toggler[aria-expanded="true"] {
      color: var(--primary)!important;
      }
      .navbar .navbar-toggler:focus{
      color: var(--primary);
      }
      .viewbtn{
        font-size: 70.2% !important;
      }
      .lawyers_profile{
        margin-top: -4px;
      }
      .her0s{
        margin-bottom: 50px;
      }
      .main {
        height: 312px !important;
      }
      .main::before {
        position: absolute;
        height: 392px !important;
      }
  }
@media only screen and (min-width: 588px) and (max-width: 767px){
  h2{
    font-size: 36px !important;
  }
  .s-3{
    height: 40px !important;
  }
  .navbar .navbar-toggler[aria-expanded="true"] {
    color: var(--primary)!important;
    }
    .navbar .navbar-toggler:focus{
    color: var(--primary);
    }
    .viewbtn{
      font-size: 70.2% !important;
    }
    .lawyers_profile{
      margin-top: -4px;
    }
    .her0s{
      margin-bottom: 50px;
    }
    .main {
      height: 312px !important;
    }
    .main::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 48%;
      height: 392px !important;
      z-index: 0;
     background: linear-gradient( 90deg , rgba(1,1,3,0.8155637254901961) 0%, rgba(9,9,17,0.7287289915966386) 52%, rgba(0,212,255,0) 100%);
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  h2{
    font-size: 36px !important;
  }
  .s-3{
    height: 40px !important;
  }
  .navbar .navbar-toggler[aria-expanded="true"] {
    color: var(--primary)!important;
    }
    .navbar .navbar-toggler:focus{
    color: var(--primary);
    }
    .viewbtn{
      font-size: 70.2% !important;
    }
    .lawyers_profile{
      margin-top: -4px;
    }
    .her0s{
      margin-bottom: 50px;
    }
    .main {
      height: 312px !important;
    }
    .main::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 48%;
      height: 392px !important;
      z-index: 0;
     background: linear-gradient( 90deg , rgba(1,1,3,0.8155637254901961) 0%, rgba(9,9,17,0.7287289915966386) 52%, rgba(0,212,255,0) 100%);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
  .main {
    height: 500px !important;
  }
  .t2{
    font-size: 36px !important;
  }
  .lawfind1{
    margin-top: 130px !important;
  }
  .her0s{
    margin-top: 130px;
  }
  .main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 495px !important;
    z-index: 0;
   background: linear-gradient( 90deg , rgba(1,1,3,0.8155637254901961) 0%, rgba(9,9,17,0.7287289915966386) 52%, rgba(0,212,255,0) 100%);
  }
}
/*
@media only screen and (min-width: 1201px) and (max-width: 1440px) */
