.toggler-btn{
    background-color: var(--secondary);
    padding: 10px; 
    margin-top: 11px;
    border-bottom: 3px solid #d1b06b;
    
}
.icone i{
    color: #d1b06b;
    font-size: 35px;
    margin: 0 0 10px 0;
}

@media only screen and (min-width: 992px) {
    .toggler-btn {
        background-color: rgba(31, 39, 50, 0);
      padding: none;
      border-bottom: none;
      margin-top: 0;
    }
  }