 .add_com{
    width: 96% !important; 
    background-color: var(--primary);
     height: 2px !important;
}
.review{
   background-color: var(--fourth-primary);
}
.review .arrow{
   background-color: var(--primary);
}

@media (max-width: 480px){
   .review .browser_image{
      display: none;
   }
   .review .rated_star{
      margin-right:65px !important;
   }
}
