
.view_buttons{
    background-color: var(--text-blue-700);
    padding: 0.25%;
    border-radius: 15px;
}
.savelist{
    margin-top: -12px;
}

.nam{
    margin-top: -7px;
}
.profi{
    margin-top: 40px;
}
.alllawyersection:nth-child(odd) {
    background-color: var(--second-primary);
    color: var(--second-secondary) !important;
}
.alllawyersection:nth-child(even) {
    background-color: var(--third-primary);
    color: var(--second-secondary) !important;
}
.alllawyersection:hover:nth-child(even){
   opacity: .89;
}
.alllawyersection:hover:nth-child(odd){
    opacity: .79;
}

#react-paginate ul {
    display: inline-block;
    margin-left: 20px;
    padding-left: 0;
 }
 
 #react-paginate li {
    display: inline-block;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    margin-right: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
 }
 
  #react-paginate li a {
      padding: 5px 10px;
      display: inline-block;
      color: var(--primary);
      outline: none;
  }
 
 #react-paginate li.active {
    background: var(--third-primary);
    outline: none;
 }
 .lawpicd{
    height: 70px;
    border-radius: 50%;
    width: 70px;
 }
 .lawyrscard6{
    background-color: var(--third-primary);
 }
input[type="text"]{
    text-transform: capitalize;
}
.view_buttons .nameloc{
    margin-left: 139px !important;
    position: absolute;
}
.view_buttons .lawexp{
  margin-left: 150px !important;
  position: absolute;
}