.frend{
    margin-top: -100px;
}
.s{
    margin-left: 80px;
}
.consugg{
   margin-top: -95px !important;
   background-color: var(--second-primary);
}
.dmis{
    margin-left: 15% !important;
}
.about-img img{
    width: 140%;
    opacity: 70%;
}

