/* media query for about page */
/* small devices */
@media (max-width: 480px){
    .ab-1{
        flex-direction: column-reverse !important;
    }
    .consugg{
        margin-top: -115px !important;
        width: auto !important;
        height: auto;
        padding: 5% !important;
      
     }
     .about-img img{
        width: 100% !important;
        opacity: 0.75; 
    }
    .contact_aboutas{
      margin-left: 12px !important;
      margin-top: 12px !important;
    }
    .user_contact_sugg{
        margin-top: -120px !important;
    }
   .aboutsections p{
        width: 90% !important;
        font-size: 18px !important;
    }
    .our_promise_para{
        margin-bottom: 154px;
    }
     .user_friendly{
        margin-top: 0px;
    }
    .user_title{
      font-size: 175% !important;
      width: 90% !important;
     margin-left: 18px;
    }
    .user_needs{
        margin-left: 62px;
        width: 70% !important;
    }
    .user_reviews_opinion{
        margin-top: 254px !important;
    }
    .commited_needs{
       margin-left: 10px;
       width: 100%;
       font-size: 195% !important;
    }
    .our_promise_block{
        margin-top: -37px;
    }
    
}

/* tabscreen */
@media only screen and (min-width: 481px) and (max-width: 768px){
    .ab-1{
        flex-direction: column-reverse !important;
    }
    .consugg{
        margin-top: 30px !important;
        width: 100% !important;
        height: 29vh;
     }
     .about-img img{
        width: 98% !important;
        opacity: 0.75; 
    }
    .contact_aboutas{
      margin-top: 25px !important; 
    }
    .user_contact_sugg{
        margin-top: -120px !important;
    }
    .our_mission_first{
        width: 80% !important;
    }
   .aboutsections p{
        width: 90% !important;
        font-size: 18px !important;
    }
    .our_promise_para{
        margin-bottom: 154px;
    }
    .user_title{
        margin-top: 40px !important;
      font-size: 38px !important;
      width: 90% !important;
     margin-left: 18px;
    }
    .user_needs{
        margin-left: 82px;
        width: 62% !important;
        margin-top: 22px !important;
    }
    .user_reviews_opinion{
        margin-top: 254px !important;
    }
    .commited_needs{
       margin-left: 10px;
       width: 100%;
       font-size: 38px !important;
    }
    .our_promise_block{
        margin-top: -37px;
    }
    .aboutsections h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* tabs and laptops screen */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .ab-1{
        flex-direction: column-reverse !important;
    }
    .consugg{
        margin-left: 19px !important;
        margin-right: 20px;
        height: auto !important;
        width: 100% !important;
        margin-top: -80px !important;
        padding-bottom: 3%;
     }
     .conts{
        margin-top: 10% !important;
     }
     .about-img img{
        width: 98% !important;
        opacity: 0.75; 
    }
    .contact_aboutas{
      margin-left:  90px !important;
      margin-top: 35px !important; 
    }
    .user_contact_sugg{
        margin-top: -120px !important;
    }
    .our_mission_first{
        width: 70% !important;
        margin-left:98px !important;
    }
   .aboutsections p{
        width: 90% !important;
        font-size: 18px !important;
    }
    .our_promise_para{
        margin-bottom: 154px;
    }
    .user_title{
        margin-top: 40px !important;
      font-size: 38px !important;
      width: 90% !important;
     margin-left: 18px;
    }
    .user_needs{
        margin-left: 160px;
        width: 48% !important;
        margin-top: 22px !important;
    }
    .user_reviews_opinion{
        margin-top: 254px !important;
    }
    .commited_needs{
       margin-left: 10px;
       width: 100%;
       font-size: 38px !important;
    }
    .our_promise_block{
        margin-top: -37px;
    }
    .aboutsections h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1241px){
    .contact_aboutas{
        /* margin-left: 12px !important; */
        margin-top: 75px !important; 
      }
      .user_reviews_opinion{
        margin-top: 254px !important;
    }
    .consugg{
        margin-top: -60px !important;
        width: 96%;
        height: 28vh !important;
     }
    
}
@media only screen and (min-width: 1242px) and (max-width: 1440px){
    .contact_aboutas{
        /* margin-left: 12px !important; */
        margin-top: 45px !important; 
      }
      .user_reviews_opinion{
        margin-top: 254px !important;
    }
}


@media only screen and (max-width: 1200px) {
    .frend{
        margin-top: 0px;
    }
  }
