.frend{
    margin-top: -100px;
}
.s{
    margin-left: 80px;
}
.consugg{
   margin-top: -95px !important;
   width: 85% !important;
   background-color: var(--second-primary);
}
.dmis{
    margin-left: 15% !important;
}
.about-img img{
    width: 140%;
    opacity: 70%;
}

@media only screen and (max-width: 1200px) {
    .frend{
        margin-top: 0px;
    }
  }

  @media only screen and (max-width: 540px) {
    .ab-1{
        flex-direction: column-reverse !important;
    }
    .consugg{
        margin-top: 30px !important;
     }
     .about-img img{
        width: 100% !important;
        opacity: 0.75;
       
    }
     
  }