.lawyer_name{
    font-size: 83% !important;
}
.lawyer_work_experience{
    font-size: 63% !important;


}
.lawyer_work_type{
    font-size: 63% !important;

}
.view_more {
    font-size: 60% !important;
}
.load_more{
    background-color: var(--text-blue-700);
}
.abd{
  text-decoration: none !important;  
  margin: auto !important;
}
.pics-pro{
    height: 61px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid var(--primary) !important;
    width: 61px;
}

/* media query */
@media (max-width: 370px){
    .expertise_service .connect_now{
        width: 90% !important;
        height: 8vh !important;
        padding: 1% !important;
    } 
}

@media (max-width: 480px){
    .view_buttons .view_more{
        margin-top: 20px !important;
        height: 4vh !important;
    }
    .view_buttons{
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
    .expertise_service .connect_now{
        width: 90% !important;
        height: 4vh !important;
        padding: 2% !important;
    }
}
  /* tabscreen */
  @media only screen and (min-width: 481px) and (max-width: 768px){
    .view_buttons .view_more{
        margin-top: 20px !important;
        height: 5vh !important;
    }
    .view_buttons{
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
    .expertise_service .connect_now{
        width: 50%;
    }
  }
/* tabs and laptops screen */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .view_buttons .view_more{
        margin-top: 20px !important;
        height: 5vh !important;
    }
    .view_buttons{
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
}