.btns-primary{
    background: linear-gradient(180deg, #A37707 0%, #D1B06B 100%) !important;
    font-weight: 600;
color: rgba(0, 0, 0, 0.747) !important;
font-size: 93.2% !important;
  }
  .btns-primary:hover{
      background: linear-gradient(180deg, #D1B06B 0%,  #A37707 100%) !important;
  }
  .logo{
    width: 240px;
    margin-left: -8px;
  }
  .footer-1{
    width: 80%;
  }
  .content{
    width: 480px;
    font-size: 18px;
  }
  .Devwares{
    font-weight: 600;
  }
  .lis{
    list-style: none; 
    cursor: pointer;
  }
  .f-1{
   margin-top: auto;
  }
  
  .pk-1:hover{
  background-color: var(--primary) !important;
  color:  var(--third-secondary);
  }
  .ficon{
  width: 40px;
  border: 2px solid var(--primary);
  color:  var(--third-secondary);
  }
  .s-1{
    border: 2px solid var(--primary);
    border-radius: 0px 10px 10px 0px; 
  }
  .ss-2{
    border: 2px solid var(--primary);
    border-radius:  10px 0px 0px 10px !important;
  }
  .per1{
    height: 60px;
    border-radius: 50%;
    width: 60px !important;
    margin-top: -10px;
    margin-left: -7px;
     border-radius: 20px solid rebeccapurple !important;
  }
.dropdown-menu{
    margin-top: 5px !important;
    
}
.profile{
    width: 30% !important;
    margin-right: 10px !important;
    
}
.border-prime{
  border-color: var(--primary) !important;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.747) !important;
  font-size: 93.2% !important;
}
#profiles{
    width: 25%;
    border-radius: 50%;
    margin-right: 10px;
}
.btn-group{
    margin-left: 65px;
    border-radius: 10px 10px 10px 10px; 
}
.npjh{
  border-radius: 48px 20px 20px 48px; 
  height: 55px;
}
.text-dark:hover{
  font-weight: 400 !important;
  color: var(--primary) !important;
}
.text-dark{
  font-weight: 400;
}
@media only screen and (max-width: 540px) {
  .content{
    width: 288px;
  }
  .input-group {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}
.devider_page {
  margin-top: -10% !important;
}
.reg_btn {
  width: 82% !important;
}
  .main {
    margin-top: 79px !important;
}
.asa{
  margin-top: 20%;
  margin-bottom: -10%;
}
}

/* styling for navbar */

.navbar .container ul li {
  font-weight: 400 !important;


}
.navbar .container .head{
  font-weight: 600 !important;
  letter-spacing: 0.5px;
}
